@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #2c3e50;  /* Cor do fundo */
    flex-direction: column;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    color: #ecf0f1;  /* Cor do texto */
    gap: 1rem;
    margin: 0;
    background: linear-gradient(135deg, #4e7db9, #6a99c1, #9db7d7, #c7d7f1);


}
.titulo {
    top: 1rem;
    padding: 2rem;
    font-size: 3rem; /* Tamanho maior */
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 1rem;
    
    width: auto; 
    height: auto; 
    display: inline-block;
    color: #e2e2d4;  /* Cor do texto */
}

form {
    background-color: rgba(0, 0, 0, 0.6);;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
    transform: scale(1.02);
}
h2 {
    color: #ecf0f1;  /* Cor do título */
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    background-color: #3498db;  /* Azul suave */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
}

button:hover {
    background-color: #2980b9;  /* Azul mais escuro */
    transform: translateY(-2px);
}

input[type="file"], input[type="text"], select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #34495e;  /* Cor de fundo dos campos */
    color: #ecf0f1;  /* Cor do texto nos campos */
    border: 1px solid #7f8c8d;  /* Cor da borda */
    margin: 10px 0;
}

input[type="file"]:hover, input[type="text"]:hover, select:hover {
    border-color: #2980b9;  /* Azul suave ao passar o mouse */
}

input[type="text"]:focus, select:focus {
    border-color: #2980b9;  /* Azul suave ao focar */
    outline: none;
}

#fileName {
    color: #f39c12;  /* Cor amarela para o nome do arquivo */
    margin-top: 10px;
}

select {
    cursor: pointer;
}

label {
    color: #ecf0f1;  /* Cor do label */
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

br {
    display: block;
    margin-bottom: 10px;
}

img {
    max-width: 100%;  /* A largura máxima será 100% do seu contêiner */
    max-height: 300px; /* A altura máxima será 500px */
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

.comeback {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #2980b9;  /* Azul suave */
}

.comeback:link {
    text-decoration: none;
    font-weight: bold;
}

.comeback:hover {
    color: #106faf;  /* Azul mais escuro */
    text-decoration: underline;
}

.Return {
   text-align: center;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.mensagem_erro {
    color: #a82a2a;  /* Cor de texto de erro */
    background-color: #f8d7da;  /* Cor de fundo de erro */
    padding: 10px;
    border: 1px solid #f5c6cb;  /* Cor da borda de erro */
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra suave */
    position: absolute; 
    top: -2px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    z-index: 2;
}

.img_form {
    max-width: 100px;  /* Largura máxima */
    max-height: 100px;  /* Altura máxima */
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 5px;
}

.selecao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.voltar {
    background-color: #c74040;  /* Cor do botão de voltar */
}
