{% extends "layout.html" %}

{% block body %}
    {% if error_message %}
    <div class="mensagem_erro">
        {{ error_message }}
    </div>
    {% endif %}
    <h1 class="titulo">F i l t r o s</h1>
    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <button type="submit" name="submit_type" value="file">Enviar Arquivo</button>
        <input type="file" id="fileInput" name="imagem">
        <p id="fileName"></p>
        <br><br>
        <button type="submit" name="submit_type" value="url">Enviar URL</button>
        <input type="text" id="url" name="link" placeholder="Insira a URL">
        
    </form>

    <form action="/listar" method="get">
        <button type="Submit" name="listar">Listar diretório</button>
    </form>

 
{% endblock %}

