{% extends "layout.html" %}
{% block body %}
<div align-items="center">
    {% for imagem in imagens %}
    <label>
        <input type="checkbox" name="images" value="{{ imagem }}">
        <img src="{{ url_for('static', filename='uploads/' ~ session['user_id'] ~ '/' ~ imagem) }}" alt="{{ imagem }}" width="100px" height="100px" object-fit="contain">
        {{ imagem }}
    </label><br>
    {% endfor %}
    
    <form action="/download" method="post">
        <button type="submit">Baixar imagens selecionadas</button>
    </form>
    
    <form action="/" method="get" class="Return">
        <button type="submit">Voltar</button>
    </form>
</div>
{% endblock %}
