{% extends "layout.html" %}
{% block body %}
<form action="/download" method="post" id="download-form" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for imagem in imagens %}
    <label>
        <img src="{{ url_for('static', filename='uploads/' ~ session['user_id'] ~ '/' ~ imagem) }}" alt="{{ imagem }}" class="img_form">
        {{ imagem }}
    </label><br>
    {% endfor %}
        <button type="submit">Baixar imagens selecionadas</button>
</form>
<form action="/" method="get" class="Return">
    <button type="submit">Voltar</button>
</form>
{% endblock %}
